:root {
    --black: #000000;
    --white: #ffffff;
} 

* {
    margin: 0;
    padding: 0;
    font-family: 'Governor', sans-serif;
    color: var(--white);
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: var(--black);
}

/* section {
    min-height: 100vh;
    align-items: center;
} */

nav {
    width: 98%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    position: relative;
    font-size: 1.5rem;
}

.button {
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 0px;
    color: var(--black);
    cursor: pointer;
    font-family: 'Governor', sans-serif;
    padding: 15px;
    font-size: 1.5rem;
}

#topBTN {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    color: var(--black);
    cursor: pointer;
    font-family: 'Governor', sans-serif;
    padding: 15px;
    font-size: 1.5rem;
}

#falling_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}

.number {
    position: absolute;
    font-size: 24px;
    color: #07beb8;
    animation: fall linear;
}

@keyframes fall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(101vh);
    }
}

#home {
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.welcome_text {
    width: 40vw;
}

.text_container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
}

.btns_socials {
    width: 60%;
    margin: auto;
    font-size: 1.875rem;
}

.social_links {
    margin-top: 10px;
    
}

.social_links a {
    font-size: 2rem;
}

.typing_text {
    color: #ef8354;
}

.name {
    color: #ef8354;
}

.image_container {
    position: relative;
    width: 40vw;
    height: 60vh;

    /* border-style: solid;
    border-color: blue; */
}

.images {
    position: relative;
    align-items: center;
    width: 50%;
    height: 100%;
}

.images img {
    position: absolute;
}

#about {
    height: 100vh;
    border-style: solid;
    border-color: red;
}

.about_text_container {
    border-style: solid;
    border-color: blue;
}

.about_text {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    border-style: solid;
    border-color: white;
}

.about_text i, .about_text p {
    font-size: 2rem;
    margin-right: 10px;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white); 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}